* {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: auto;
    padding: auto;
  }
  

  .finance {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    height: 120%;
    background: black;
    background-size: cover;
    background-position: center;
  }

  .finance-create {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120%;
    background: black;
    background-size: cover;
    background-position: center;
  }
  
  .finance-create .Create-post {
    width: 40%;
    height: 490px;
    margin: 10%;
    padding: 20px;
    text-align: center;
    border: 1px solid white;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    margin-left: 8%;
  }
  
  .finance-create .title {
    font-style: inherit;
    color: white;
    font-weight: bold;
  }
  
  
  .finance-create .Form-Group {
    text-align: left;
    display: block;
    
  }
  
  .finance-create .Form-Control {
    width: 80%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
    margin-left: 10%;
  }
  
  .finance-create .Form-Cont{
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
    display: block;
  }

  .finance-report{
    background-color: white;
    background: white;
  }
  
  /* App.js Styling Part */
  
  .finance .transaction-preview {
    width: 300px;
    padding: 20px;
    margin: 30px;
    border-style: solid;
    border-width: 2px;
    color: white;
    display: inline-block;
    font-weight: bold;
    margin-left: 45px;
  }
  
  .finance .transaction-preview:hover {
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);
  }
  
 
  
  .finance .transaction-preview h2{
    color: white;
    font-weight: bold;
  }
  
  .finance .transaction-preview p{
    font-size: 17px;
    color: white;
  }
  
  .finance .update{
    color: white;
    background-color: black;
  }
  
  

  .actionupdate{
    
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
    

  }
  
  .finance button:hover{
    box-shadow: 1px 3px 5px rgba(10, 10, 10, 10);
  }
  
  .finance .container button{
    margin-left: 85%;
  }

  .balance{
    color: white;
    font-size: 24px;
    font-weight: bolder;
    border-radius: 10%;
  }

  .income{
    font-size: 20px;
    font-weight: bold;
    color: white;
  }

  .reportincome{
    font-size: 18px;
    font-weight: bold;
  
  }

  .reportbalance{
    font-size: 18px;
    font-weight: bold;
    text-align: right;
  }

  .finance button{
    background-color: #b30059;
    border: #b30059;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    width: 15%;
    height: 50%;
    padding: 3px;
    font-size: 15px;
  }